{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="row g-5">
    {% if title %}
        <h3>{{ title }}</h3>
    {% endif %}
    {% for row in rows %}
        {% if loop.index <= 2 %}
            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-4">
                    <div class="d-flex align-items-start">
                        {{- row.content -}}
                    </div>
                </div>
            </div>
        {% elseif loop.index == 3 %}
            <div class="col-md-6 mx-auto">
                <div class="card shadow-sm border-0 p-4">
                    <div class="d-flex align-items-start">
                        {{- row.content -}}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

